
.top{    
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    /* background-color :#e3eef9;
    width:100vw */

}

.top h1{
    font-size: 45px;
}

.profile-image{
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    background-color :#e3eef9;
    width:100vw;
    height:35vh;
}

.form-group{
    text-align: right;
    margin-bottom: 20px; /* 下に余白をつける */
    background-color : #e3eef9;
    width:100vw
}

.edit {
    text-align: right;
}

.login-streak {
    padding: 0.2em 0.5em;
    margin: 2em 0;
    width:42vw;
    height:auto;
    color: #565656;
    background: white;
    box-shadow: 0px 0px 0px 10px white;
    border: dashed 2px rgb(102, 98, 98);
    border-radius: 8px;
}

.login-streak h2 {
    font-size: 25px;
}

.box-title{
    color: #565656;
    font-size: 25px;
    margin: 0px;
    padding: 0px;
}

.box-title img{
    width: 23px;
    height: 23px;
}


.goals {
    padding: 0.2em 0.5em;
    margin: 12px 0;
    color: #565656;
    background:white;
    box-shadow: 0px 0px 0px 10px white;
    border: dashed 2px rgb(102, 98, 98);
    border-radius: 8px;
    position: relative;
}
.goals p {
    margin: 0; 
    padding: 0;
    font-size: 20px;
    color: black;
}

.username h2{
    font-size: 35px;
    padding-bottom: 30px;
}



.study-time {
    padding: 0.2em 0.5em;
    margin: 2em 0;
    width:45vw;
    height:12vh;
    color: #565656;
    background: white;
    box-shadow: 0px 0px 0px 10px white;
    border: dashed 2px rgb(102, 98, 98);
    border-radius: 8px;
}

.goals img{
    width: 35px;
    height: 35px;
}

.kiroku{
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    
}

.login-streak img {
    width: 35px;
    height: 35px;
    padding-right: 3px;
}

.study-time img {
    width: 30px;
    height: 30px;
    padding-right: 5px;

}

p{
    color:gray;
    font-size: 15px;

}

.task-button {
    margin-left: 20px;
}

.button-complete {
    margin-right: 20px;
}

.study-time h2 {
    font-size: 25px;
}

.favorite-title img{
    width: 23px;
    height: 23px;
}

.favorite-list {
display: flex;
flex-direction: column;
align-items: center; 

}

.favorite-item {
    padding: 0.2em 0.5em;
    margin: 1em 0;
    width:70vw;
    height:12vh;
    color: #565656;
    background: white;
    box-shadow: 0px 0px 0px 10px white;
    border: dashed 2px rgb(102, 98, 98);
    border-radius: 8px;
    display: block;
}

.favorite-title {
color: #565656;
font-size: 25px;
padding-left: 10px;
}

.favorite-item p {
    color: black;
    font-size: 18px;
    display: block;
    margin: 0; /* 不要な余白を消すため */
    padding: 0;
}
