/* .thumbnail {
    width: 100px;
    height: 100px;
} */

/* .col-md-12 {
    display: flex;
    justify-content: space-between; 
    align-items: center;
} */


/* Override margin for the card */
.card.text-center {
    margin-top: 0 !important; /* Remove the top margin */
    margin-bottom: 0 !important; /* Remove the bottom margin if needed */
}

/* Remove margin from parent container if necessary */
.container, .row, .col-md-8 {
    margin-top: 0 !important; /* Remove any extra top margin */
    padding-top: 0 !important; /* Remove any extra top padding */
}




.my-button {
    background-color: palevioletred !important;
    border: palevioletred solid 1px !important;
}

#mypage-parent{
    display: flex;
    justify-content: right;
    margin-bottom: 10px;
}

#button-parent{
    display: flex;
    justify-content: center;
}

.complete-button{
    background-color: gray !important;
    border: gray 1px solid !important;
}

/* @media screen and (min-width: 780px) {
    .my-button {
        top: 130px;
        right: 300px;
        position: absolute;
    }
} */


.button-complete {
    margin: 10px 5px; 
}

@media screen and (min-width: 780px) {
    .button-complete {
        position: relative;
        bottom: 10px;
        left: 225px;
    }
}

.button-new {
    margin: 10px 5px;
}

@media screen and (min-width: 780px) {
    .button-new {
        position: relative;
        bottom: 10px;
        right: 225px;
    } 
}

#task-name{
    display: flex;
}

#task-name h5{
    font-size: 25px;
}

/* #checkbox{
    width: 33px;
    height: 33px;
    margin-right: 3px;
    transition: all 0.3s ease;
}


#checkbox:hover {
    content: url('../img/Post.index/check.png'); 
} */


#star-blank{
    width: 33px;
    height: 33px;
    margin-right: 3px;
    background-color: none !important;
    border: none !important;
    transition: all 0.3s ease; /* Smooth transition for the hover effect */
}


.star-design {
    background: none !important; /* Removes the background color */
    border: none !important; /* Removes the border */
    padding: 0; /* Removes any padding */
    margin: 0; /* Removes any margin */
    cursor: pointer; /* Changes the cursor to a pointer when hovering */
}

.star-img {
    width: 33px;
    height: 33px;
    margin-right: 3px;
    transition: all 0.3s ease; /* Adds a smooth transition for hover effect */
}

#star-blank:hover {
    content: url('../img/Post.index/star.png'); /* Changes the image on hover */
}

/* #star:hover {
    content: url('../img/Post.index/star-blank.png'); 
} */

