.task-button {
    margin: 0;
}

@media screen and (min-width:780px) {
    .task-button {
        margin-left: 230px;
    }
}

.my-button {
    margin: 0;
}

#edit-delete{
    display: flex;
    flex-direction: row;
}

.button-edit-design{
    height: 39px !important;
}

.button-note-design{
    margin-top: 10px;
}