.task-button {
    margin: 0;
    background-color: gray !important;
    border: 1px solid gray !important;
}

@media screen and (min-width:780px) {
    .task-button {
        margin-left: 230px;
    }
}

.my-button {
    margin: 0;
    margin-left: 45vw;
}

#edit-delete{
    display: flex;
    flex-direction: row;
}

.button-edit-design{
    height: 39px !important;
    margin-right: 5px;
    background-color: gray !important;
    border: 1px solid gray !important;
}

.button-edit-design:hover{
    background-color: lightseagreen !important;
    border: 1px solid lightseagreen !important;
}

.button-delete-design{
    background-color: gray !important;
    border: 1px solid gray !important;
}

.button-delete-design:hover{
    background-color: palevioletred !important;
    border: 1px solid pink !important;
}

#note-button-parent{
    display: flex;
    justify-content: center;
}

.button-note-design{
    margin-top: 20px;
    background-color: gray !important;
    border: 1px solid gray !important;
}

#note-header{
    text-align: center;
    font-size:x-large;
}
