* {
    padding: 0;
    margin: 0;
}

.back-img {
    background-image: url(../img/toppage/todo-background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

